(
    // A20PLUS/A3 courses
    course_trials: [
        (
            name: "EXCITING WINTER",
            songs: [
                "19b01l0QPiDlDQb6lqd0dQ8Qlld6Dl6l",
                "8l0ld8Oq86P09lb91DdD9OliiPq9oq9D",
                "IQ9bDo1dPbIo0ODQiObbQ99iP1bOi8iI",
                "oP8iIdilQ0QiDllqDbDIOl0iQPd9PQ9I",
            ],
        ),
        (
            name: "INTENSE",
            songs: [
                "iObdoO9b1O9o8dP8o0id9b1QioQ0q9q9",
                "d91lIllbboPd668QP88I06Q6QqooQiO1",
                "bdQ6IobP6II86I1io686Il9qQ69dOod1",
                "lb969IOOoI06P18PPq81o1lPD1b1OqqI",
            ],
        ),
        (
            name: "CYBER",
            songs: [
                "9d0oQdIolIb0Po9b06QOiOP60IQlb8qO",
                "qD8Q180QlIi11o1IiI6DPoqolqoD61Ib",
                "8lDOiqP0biD8dD9lOQO619i1PqbqDiP8",
                "dQdo08Qb6bOPIl8686DPDd60I1oqidIP",
            ],
        ),
        (
            name: "FEELING",
            songs: [
                "98PiPl8P0qlq8dd8P60Iq6dq899lbQDI",
                "DddIPd6iId8Doqq8OibDlD1dOi8PO8o9",
                "i8II16blIIbQQd196b616OPbPO910oi9",
                "qi0lbbDIo8Qlo9IiD8oqqo69DIPQ1IIO",
            ],
        ),
        (
            name: "NIPPON-NO-MATSURI",
            search_names: [
                "nippon no matsuri"
            ],
            songs: [
                "8Q8OiP8QPbl8bqID1loQq896ldPQd99o",
                "io688qld6Pqq6bI01q86illP18biq0bd",
                "61ido0DPl8q0dI1i011Do1b6669dPIlo",
                "l6oP66ODld89Q99o0lDPP90qdbo11PPQ"
            ],
        ),
        (
            name: "TRIPLET",
            songs: [
                "DObld6O6OdblOo1di9dlP86DO909O6qI",
                "ddOqqDI91bqqiOoll6I0i16i1P18019q",
                "8bI68oIq08d99P880bDPQ9D80O099Q10",
                "8o08l8DPiO01dlo1OI8DqQDq9lQ1bPq1"
            ],
        ),
        (
            name: "Let's DANCE!",
            search_names: [
                "lets dance"
            ],
            songs: [
                "Io9i8oQlbO1QqIdbbDPQl6b00OIPlIOP",
                "Oi1DI99DO6i6llQ8DDD6oDqOQqiP118d",
                "1d9lDIl6iiiD0D0d8qd6dlDlq6P8o0QI",
                "6l1l8D006lD8OoOi91QI0b10d19Did1O"
            ]
        ),
        (
            name: "WITHSTAND",
            songs: [
                "1q6obddbql8lQdPI19liD6PdQ0dPIODd",
                "1PiiOiQoq8dbdi819q9Ild966o6o19QQ",
                "OQol16I968Q8bDoQd80i90oQQbqOdbdP",
                "iq9qPoPlIlbIDqlD81DqO1110QI1qoOl"
            ]
        ),
        (
            name: "KA・TA・KA・NA YEAH!",
            search_names: [
                "katakana yeah"
            ],
            songs: [
                "ql1Q8P100IIlbl0Pdi08I8qD900idqQq",
                "doIiQl6oDPP6i9qobqoobblPQqPiI9bD",
                "668Q8qQdqoIQQiIQOilDqd8lDOOQ8bDQ",
                "19Q9lQId91d9l8o09oI81OQqPd00dQ69"
            ]
        ),
        (
            name: "NEW STRADE",
            songs: [
                "dd8PodO0ilIQQb0P0OQPDiodI9biP91d",
                "dQD6lbPO66DllOb1i0IoqDqbii0IOQi9",
                "PdqQ0oO8lIOi800i69I9100olb9Q6D8Q",
                "10IOllioqPoOQ668PQqolDPiib0iIQql"
            ]
        ),
        (
            name: "STELLA",
            songs: [
                "Io1661doQq6OQ8DoobPq1IQlbqoDD1q8",
                "dO9b8Id9QQ8DOO69Q0lqi6O9QlDPIPl9",
                "lIlold9IQbDb0d6IdP6600DOQIDb9dOP",
                "IdlqO9DoOq0qPQdDbOb80dOPDlb98l0l"
            ]
        ),
        (
            name: "MACHINE",
            songs: [
                "q9oQ1Pid9OiIDO66Pd19blOi09019i98",
                "Pld9iO6oi9qlDD08l8QDdIi6d6Q6iDd1",
                "d9qd6lI0ddbQ068dq1oD8o6QDIi6blDO",
                "OO1O10bDI6OP0O1OlOlI6qQDiPIdidbO"
            ]
        ),
        (
            name: "SWEETS HOPPING",
            search_names: [
                "sweet hopping",
                "sweet hoping",
                "sweets hoping"
            ],
            songs: [
                "ioDOIO9iP8qqPiP9io9Ib1I91OoQ0q0O",
                "D6oPIlOlIIOi1oq6Pd6011lqobbqOlib",
                "IoI10obli6qd9DI699l61Pq16P9bboDd",
                "I0DDidl0PIo6bO6o8I08Q1Pq89IdP6Pb"
            ]
        ),
        (
            name: "TRIBAL",
            songs: [
                "PlIiPiPoI9DIbPdIPoqQlIq61Pd8QIDo",
                "69qoD0l6olQqqbl09b069q898b600I6o",
                "Pd99DQo0bD9D9oIbPIId18P6l8qlDQO6",
                "PPb6l1di1Pi0o8O08odqIDlbPll61QbQ"
            ]
        ),
        (
            name: "JUST = 135",
            songs: [
                "dPdO9OP6616o99l99qiI9DddQdD9D80b",
                "QbI1i8Q8o06qQQIqllQ6091l998D0qIi",
                "ll6iQl0PoiDob8Oi6dlOQ069061doqbq",
                "8IODdDQI6P8o0QobDPOldbQ06169b01o"
            ]
        ),
        (
            name: "FUTURE",
            songs: [
                "6I0d1d8d690dl8boOb60O1Iq1Ddi6P8d",
                "I1DiOI16Id0qdlqbQ6ObPlilDP1oiI98",
                "D686d06lO9IID8D0boPq0Pd8P89idO99",
                "6ID160b99ibbd9OoblD0DPOl98lPbq6D"
            ]
        ),
        (
            name: "NIGHT DRIVE",
            songs: [
                "DblIbDd6lQQQoO9bloOI9iIqO1IiQoID",
                "qI06bbQ1dloi0IIIO1IQ1q8bdPdl6l69",
                "bIloQ900Iq01ql6ddP9idIb6iQ11i9D6",
                "b80oDO98iPDO1100IbOo8160bPdd898I"
            ]
        ),
        (
            name: "FANTASY",
            songs: [
                "l66Io69ob00OoOiDOI9lIqlidbDoDq89",
                "li6dD9b8dboOd9bbqli886lDl08IPQ00",
                "PQQd6lQlDqilqliI0IobolqIDlo0Iboq",
                "ilbQ0lq89DId9oDl89lbb8lQIPl6i0QO"
            ]
        ),
        (
            name: "PARTY ANTHEMS",
            songs: [
                "bqqIiO96di90bdP0QD1biD8DoDQIddOD",
                "8OPDQ1oQIOPdqqD18oo0lQ8OQOIbbDoP",
                "60dq6Plo0do9iQOl6ql111P9OPd9i01l",
                "bIio1d6QOPlqlDOqoIQoPIbIbb0iQIil"
            ]
        ),
        (
            name: "SNOW WHITE",
            songs: [
                "OqIlb9PQIo0Io90PIQi6q86dO8iP19Oi",
                "OQbdD9iD898Q01oIddDliq8q9D1QlQ1I",
                "bb9lOdO0Pbb1qOIb1oQq8lPlI9i6IP8q",
                "bi9OolI1P9oI8dDPlbQiq01Dl080PQ61"
            ]
        ),
        (
            name: "AGGRESSIVE",
            songs: [
                "POO9PlPq66OqIQO6Oq1i90D6Ill100il",
                "q6qI6llb69D1IQq0OiP8OD06Qioob91Q",
                "DI91q6O00bliOldqO6DqDdqib86iqPPP",
                "PibQ18qDb06Doq99boODIDQODqiDQIbP"
            ]
        ),
        (
            name: "DIVA",
            songs: [
                "1i81dQboQ91QbdO9d6bQ1Pi00dPP01li",
                "6loP1dbiOq0Q8i9QQOI6o0iOO6bdIQOO",
                "ddq1DldlQ990iidO6O99q61bI1966Q0I",
                "91Qdq6DbPDlQOiOq08di0IQo8IP8PPqQ"
            ]
        ),
        (
            name: "RAVE",
            songs: [
                "1QIPID18qib8D9Oo9lOo8I6DPi9qiod6",
                "IIDiDdQ1d6bIqbld9IdO106POdiPO6PO",
                "PDODO6Qdb9iqd6q0QoI0PiI0lb8l9I6d",
                "DodQ1I1DiPIqDQP0PqO6PIQ1iPQd6O8d"
            ]
        ),
        (
            name: "REMIXES",
            search_names: [
                "remixs"
            ],
            songs: [
                "98D001P6b696O18P8qiIOl811bq1oQ16",
                "qD6q1PD0lIDP89DPDbOOIdq0Pi8iIdD6",
                "olQQ8QPPqqObDD9ooodOl9i9od8b06I9",
                "9o6bIq98Qo8dOd11DI0d8boblOqO0I1i"
            ]
        ),
        (
            name: "STRANGE",
            songs: [
                "01808Q1Q6lQQ1lP0qd80I0b0qqDd1OOP",
                "lbD8DodiOiP8D61lidIi88DIiPqi8o6P",
                "d6OoI6oOd1l99DIoodI9lIDI0bidDP00",
                "oloPOQPQ8Q8IQQoiO9bqdDOo8o6OQ6qI"
            ]
        ),
        (
            name: "Intelligence",
            songs: [
                "Q0qQO0P8818lIoo0boO66O0qd09dIlO8",
                "Oq9QIlI8l11ddqbbDoQ1ql61OqlIi9lo",
                "ib0l98Q00O1Do9oQq1IQOOqQOOb80bIo",
                "96QPqq0q6Id0Ii0QbD1bQqPbiDqb0lPo"
            ]
        ),
        (
            name: "☆☆☆☆",
            search_names: [
                "stars"
            ],
            songs: [
                "lIQ1608o9O6bdoPO0ooi8io8i6q6bO1b",
                "q11d0oiQIlbP91dqqddPq9D80lbODbDi",
                "Q9Q088PPd0bPi9QQ8iil1lQqPdiQP69D",
                "8DdIqobi0liOPDO1qld6lQ9Dq00I66qi"
            ]
        ),
        (
            name: "HYPER",
            songs: [
                "I08olqilqQi9Dd0qOq0o09PPqI0l11QI",
                "OQbPdOIo6dPPIq6d8qid6DbPP0q991i6",
                "Di8lP6PobQ6l8do0llO9IIqQ6iqqiqDo",
                "0bq9qI9PoPIlQl89bDO60o9q8I1iIP66"
            ]
        ),
        (
            name: "ONE HALF",
            songs: [
                "Pi81dQi00lo9i1Pib91lQ01i0biIbPIP",
                "9i6dOd608qb0IlqoDIPb8q1o8q1ddQQd",
                "D68PQib86POo9D6O8Q0qO8bD6bDb1bdl",
                "8oP1ibbO9qdP19d9lQoi1q16P69b1II9"
            ]
        )
    ],
    // A3 dan
    dan_singles: [
        (
            name: "1st Dan 初段",
            songs: [
                "qIqbqPblQIIObd9166bbDiioOIiIq991",
                "80OqPo1D6lD616lIDI1IPq0oPllld6b1",
                "oloPOQPQ8Q8IQQoiO9bqdDOo8o6OQ6qI",
                "D9ooldO1009Pq1dP6P88lD80P0Oi060P"
            ]
        ),
        (
            name: "2nd Dan 二段",
            songs: [
                "96Qo1idlD9o8q9qIdiDl18l0O06Qo108",
                "lIlold9IQbDb0d6IdP6600DOQIDb9dOP",
                "qq8qDqqPQdP0loDI6DDO9d6dQ601iOID",
                "6oolbQ0QiO90Dd0DQbb1D86d8q88id86"
            ]
        ),
        (
            name: "3rd Dan 三段",
            songs: [
                "PdPdbdQ1lDI18O90Q0li8QI0bo99bidd",
                "bbiPqbo0lQq9P19i06q690blI91dbbq6",
                "olDoq69qD008Q9bb8d9OOlPO160Qd0dq",
                "6QdIl8odooDQ0oOQ0IObQqo1lO986PP6"
            ]
        ),
        (
            name: "4th Dan 四段",
            songs: [
                "I6qdO8Di181P6Q9Ooq0d8d0DOdq1dOOQ",
                "8qd0DIiiQ6dPl1b6b0OqDob6i0d1dQP1",
                "8oP1ibbO9qdP19d9lQoi1q16P69b1II9",
                "i6bl89d6OOi1O00qlQOIl8b8Qld6IiQP"
            ]
        ),
        (
            name: "5th Dan 五段",
            songs: [
                "o6qi6idD9oqIdi81ldQlODqIqIiqlD1d",
                "lbD8DodiOiP8D61lidIi88DIiPqi8o6P",
                "Pi81dQi00lo9i1Pib91lQ01i0biIbPIP",
                "09looidO89Q9DiDdqQiDPlIQDoiobobQ"
            ]
        ),
        (
            name: "6th Dan 六段",
            songs: [
                "6iO8d9ld00I6lDIO6qbOldP99oqloqb9",
                "lq9iPP06O8qiP1iooiboPO910b86di19",
                "d6OoI6oOd1l99DIoodI9lIDI0bidDP00",
                "6P18lOliIQqIO6Di0PP8iDlDQ01b0o0q"
            ]
        ),
        (
            name: "7th Dan 七段",
            songs: [
                "1iDPo19Pb9ooi8OqiidbqPb06DDdqiqo",
                "b80oDO98iPDO1100IbOo8160bPdd898I",
                "891iilD9Pq1lPQd6diqiP0dd611dOPPl",
                "9QIo1lbD1ldlqPO0iD68io69Pd8b01Do"
            ]
        ),
        (
            name: "8th Dan 八段",
            songs: [
                "DodQ1I1DiPIqDQP0PqO6PIQ1iPQd6O8d",
                "dIdDQD1Q8oPQ90Q1DPbiQI661qD9oi6I",
                "b1do8OI6qDDlQO0PI16868ql6bdbI886",
                "Q8bIDb60oPo890oi0l0O9PQd9lOb8o1Q"
            ]
        ),
        (
            name: "9th Dan 九段",
            songs: [
                "dqQbQ9oPlIi6bDdi18d9qPlDb0PiDddi",
                "oQ868oOio6O90i9qO1o8I96P1do11ID0",
                "9DoD10OPQ999IlP0doo69olbOQ680q09",
                "9i0q91lPPiO61b9P891O1i86iOP1I08O",
            ]
        ),
        (
            name: "10th Dan 十段",
            songs: [
                "QD9Ib18D9lIO10O19d16PbPb68q1190d",
                "0bq9qI9PoPIlQl89bDO60o9q8I1iIP66",
                "lO91bIQ0Q990PqPbPIq88b9I9PI6ID0Q",
                "606b9d6OiliId69bO9Odi6qq8o8Qd0dq",
            ]
        ),
        (
            name: "Kaiden 皆伝",
            search_names: [
                "kaidan",
                "keiden",
                "keidan",
                "kiadan",
                "kiaden",
            ],
            songs: [
                "bIlqP91O9ld1lqlq6qoq9OiPdqIDPP0l",
                "6bid6d9qPQ80DOqiidQQ891o6Od8801l",
                "186dd6DQq891Ib9Ilq8Qbo8lIqb0Qoll",
                "PO9Pl1q896bDDl89qQb98D80DQoPio1I",
            ]
        ),
    ],
    // should we just combine single and doubles dans and just have a
    // songs_singles and songs_doubles array?
    dan_doubles: [
        (
            name: "1st Dan 初段",
            songs: [
                "1P9bqO00bIQ0q8d1Q80l0Dq8oi6boqb0",
                "9bI0dQdb01Dl1bQq1Pq998i0l096D99P",
                "OQbdD9iD898Q01oIddDliq8q9D1QlQ1I",
                "Pb9II0oiI9ODQ8OP8IqIPQP9P68biqIi",
            ]
        ),
        (
            name: "2nd Dan 二段",
            songs: [
                "18id0bi1Q6lbl0091iP0QoOIq9DDPo9I",
                "oDiqd818i0IPPoIOddbb8DQiQqqqo098",
                "60QoP9DoIo90D616989Q0D0iodOoOd91",
                "ib19PQ61bi0lI8qi98IQ8dOqOoP91olq",
            ]
        ),
        (
            name: "3rd Dan 三段",
            songs: [
                "l666Dd0bIO9O69boPd898b19bPDo1IdO",
                "90D66ObIiqP09oqoDoq6b908b699oqqi",
                "61IoqIoODb6dlQlQqd99b90idO9QP9iI",
                "6lQ9iQdq8P0Q11q9O8dbl9Q9Pi8bIb98",
            ]
        ),
        (
            name: "4th Dan 四段",
            songs: [
                "0dOi10q9Q6oi0Q9960iQQDO6olqlDDqo",
                "bd8o99iPI9lqOl1Q8P68lbQOlo8Oq1qO",
                "OO0QbD9D6QQIb10Q9IDOQd8odb6ob6qP",
                "oOdl0d1IOo0bd008DOl91606Pd0PP86d",
            ]
        ),
        (
            name: "5th Dan 五段",
            songs: [
                "qdbDo1oP6D9ioODd1dQO0QObObidilbP",
                "iOPbIi1b99819b9QiD8QbdPbq0DqO0DO",
                "lQ86Pod1b9oI8OiDDoId099di9OI8d9I",
                "bPb96lbDP9OdI0Oi1189iOPPdllPIDQb",
            ]
        ),
        (
            name: "6th Dan 六段",
            songs: [
                "OPDQ9Oi8I6D1I1iqi8iOiP0bDI9Pl86P",
                "ddqQ801q1lIdIooDiq66qPil1oD0611I",
                "DD6olq00PD91odbO9QbldDb0bQ18oqo1",
                "O9Id8Qi6OIDIQ6bPi610q0001l1P099q",
            ]
        ),
        (
            name: "7th Dan 七段",
            songs: [
                "6Obi001oi9Qd1966dOd6d6Qo66dbbill",
                "I6qdO8Di181P6Q9Ooq0d8d0DOdq1dOOQ",
                "Dqb08DI0Ii8ilD0lioi9o9D1dodl6dO0",
                "I6dI99IOolDD6l6Q1ooPIiDO8Odq0QIP",
            ]
        ),
        (
            name: "8th Dan 八段",
            songs: [
                "QiQi666Qd9I6d1899iii80PdQdDlO1i1",
                "OPdooDlO9iO09lI1ODP00660loDiiodi",
                "Q10PdOD6bDD9QPQQqiO11669bb0lQ189",
                "1o6dQqq9P8IQ6PbQO88OI1b91P9DoqQ8",
            ]
        ),
        (
            name: "9th Dan 九段",
            songs: [
                "DdIo9DQ0ddDld99DQdiiqbPP06OI91I0",
                "8QbqP80q9PI8bbi0qOoiibOQD08OPdli",
                "60P9IPOdi1OIbD61D8i0D9ODoq6QOIPO",
                "606b9d6OiliId69bO9Odi6qq8o8Qd0dq",
            ]
        ),
        (
            name: "10th Dan 十段",
            songs: [
                "bo6PqbbPQ6D096OIP6dDPbPPiDi88609",
                "6QdIl8odooDQ0oOQ0IObQqo1lO986PP6",
                "o0l1Qioq1i9iQl6b9q6il0iqi1b1OQ9b",
                "io1d1Dq80Di08O1Pb9bQ8DoP9d9Ooi90",
            ]
        ),
        (
            name: "Kaiden 皆伝",
            search_names: [
                "kaidan",
                "keiden",
                "keidan",
                "kiadan",
                "kiaden",
            ],
            songs: [
                "8IdlOq1qI8OO1PP88I6olPiI6IqqqIIO",
                "OddDoQ6dqi0QdQDDOO6qlO08d8bPbli1",
                "186dd6DQq891Ib9Ilq8Qbo8lIqb0Qoll",
                "q6di1DQbi88i9QlPol1iIPbb8lP1qP1b",
            ]
        ),
    ],
)